REACT_APP_API_KEY=
UPLOAD_PRESET=antibody
CLOUD_NAME=
RESULT_IMAGE=
IMGBB_API_KEY=

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-west-2
AWS_BUCKET_NAME=your_s3_bucket_name
